@import 'reset';
@import 'grid';
@import 'header';
@import 'swiper';
@import 'slogan';
@import 'list';
@import 'waterfall';
@import 'footer';
body {
  min-width: 320px;
  margin: 0 auto;
  color: #333;
}
